p, pre {
margin: 0;
padding: 0;
font-size: 100%;
}


a {
color: var(--color-text-link);
text-decoration: none;
}

/* Animation */
@keyframes blinker {
  50% { opacity: 0.0; }
}

@font-face {
  font-family: 'DotGothic16';
  src: url('/fonts/DotGothic16-Regular.ttf') format('truetype');
}





/* material-UIに直接CSSを当てる */
/* .css-1r3t261-MuiGrid-root {
  overflow-x: clip;
}
.css-1rwxlx2-MuiTreeItem-content {
  display: -webkit-box;
}

.css-1rwxlx2-MuiTreeItem-content .MuiTreeItem-label {
  width: 100vw
} */
