.container {
  height: 100%;
  width: 100%;
  cursor: url(/image/pokemon/モンスターボール.cur), pointer;
  font-family: 'DotGothic16';
  overflow: hidden
}

.progressContainer{
  margin: 0 auto;
  width: 80%;
  margin-top: 200px;
}

.textContainer {
  margin: 0 auto;
  width: 80%;
  margin-top: 100px;
}

.pickel {
  cursor: url(/image/pokemon/ピッケル.cur), pointer;
}


@keyframes poyo {
  from, to { transform: none; }
	10% { transform: scale(1.2); }
	40% { transform: scale(0.9); }
	60% { transform: scale(1.04); }
	80% { transform: scale(0.98); }
}

.hoverImage:hover {
  /* transform: rotateY( 360deg );
  transition-duration: 0.5s; */
  animation: poyo 0.6s;
}
@keyframes push {
  from, to { transform: none; }
	10% { transform: scale(0.8); }
	40% { transform: scale(1.1); }
	60% { transform: scale(0.96); }
	80% { transform: scale(1.02); }
}
.hoverImage:active {
  animation: push .6s;
}
